{% extends "template.html" %}
{% block content %}
      <form action="{{ url_for('create') }}" method="post" enctype="multipart/form-data">
           <figure class="thumb col-md-4">
              <img class="img-responsive" src="{{ url_for('image', file_name='default.jpg') }}">
              <figcaption>
                  <label>
                      <input type="file" name="file_name" accept=".jpg">
                  </label>
              </figcaption>
          </figure>
        <fieldset>
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" class="form-control">
          </div>
          <div class="form-group">
            <label for="category">Category:</label>
            <input type="text" id="category" name="category" class="form-control">
          </div>
          <div class="form-group">
            <label for="console">Console:</label>
            <input type="text" id="console" name="console" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary btn-salvar">Save</button>
          <a class="btn btn-danger" href="{{ url_for('index') }}">Back</a>
        </fieldset>
      </form>
{% endblock %}
